body{
    margin: 0px;
    background-color: rgb(190, 190, 190);
}
html{
    font-size: 100%;
}
.con{
    background-color: grey
}
.h1{
    color: white;
    text-decoration: none;
}
.menu{
    display: none;
}
#menyu{
    width: 0vw;
    height: 0rem;
    display: none;
    position: absolute;
    top: 0vw;
    left: 88vw;
    background-color: rgb(62, 62, 62);
}
.links{
    position: absolute;
    top: 5vw;
    left: 1.5vw;
    display: none;
}
.an2{
    top: 10vw;
}
.an3{
    top:15vw;
}
.text{
    font-size: 3vw;
}
.pc{
    display: block;
}
.imgm{
    width: 15vw;
    position: absolute;
    left: 82vw;
}
.imgs{
    width: 3vw;
}
@media only screen and (max-width: 576px){
    html{
        font-size: 3.6px;
    }
    .imgs{
        width: 4vw;
    }
    #menyu{
        height: 140rem;
    }
    .links{
        display: block;
    }
}
@media only screen and (min-width: 576px){
    html{
        font-size: 3.6px;
    }
    .links{
        display: block;
    }
}
@media only screen and (min-width: 768px){
    html{
        font-size: 4.8px;
    }
    .links{
        display: block;
    }
}
@media only screen  and (max-width: 992px){
    .pc{
        display: none;
    }
    #menyu{
        width: 20vw;
        height: 150rem;
    }
    .menu{
        display: block;
    }
    .links{
        display: block;
    }
}
@media only screen  and (min-width: 992px){
    html{
        font-size: 6.2px;
    }
    .pc{
        display: block;
    }
    .menu{
        display: none;
    }
    .links{
        display: none;
    }
    #menyu{
        width: 0vw;
        height: 0rem;
    }
}
@media only screen  and (min-width: 1200px){
    html{
        font-size: 7.5px;
    }
}
@media only screen  and (min-width: 1400px){
    html{
        font-size: 8.75px;
    }
}
.olish{
    width: 25vw;
    height: 30vw;
    background-color: rgb(82, 82, 82);
}