body{
    margin: 0px;
    background-color: rgb(190, 190, 190);
    overflow-x: hidden;
}
html{
    font-size: 100%;
}
.con{
    background-color: grey
}
.h1{
    color: white;
    text-decoration: none;
}
.menu{
    display: none;
}
#menyu{
    width: 0vw;
    height: 0rem;
    display: none;
    position: absolute;
    top: 0vw;
    left: 88vw;
    background-color: rgb(62, 62, 62);
}
.links{
    position: absolute;
    top: 5vw;
    left: 1.5vw;
    display: none;
}
.an2{
    top: 10vw;
}
.an3{
    top:15vw;
}
.text{
    font-size: 3vw;
}
.pc{
    display: block;
}
.imgm{
    width: 15vw;
    position: absolute;
    left: 82vw;
}
.imgs{
    width: 3vw;
}
.login{
    width: 40vw;
    height: 40vw;
    border: 1px solid black;
    background-color: rgb(162, 162, 162);
    margin-top: 5vw;
}
.up{
    width: 9vw;
    height: 3vw;
    font-size: 1.5vw;
    margin-left: 10vw;
    margin-top: 2vw;
    text-align: center;
    background-color: rgb(107, 106, 106);
    color: white;
    display: inline-block;
}
.in{
    margin-top: 0vw;
    margin-left: 0vw;
}
.email{
    height: 3vw;
    margin-top: 3vw;
}
.input{
    height: 2.8vw !important;
    font-size: 2.2rem;
}
.lab{
    font-size: 1.7rem;
}
@media only screen and (max-width: 576px){
    html{
        font-size: 3.6px;
    }
    .imgs{
        width: 4vw;
    }
    #menyu{
        height: 140rem;
    }
    .links{
        display: block;
    }
    .in2{
        font-size: 1vw;
    }
}
@media only screen and (min-width: 576px){
    html{
        font-size: 3.6px;
    }
    .links{
        display: block;
    }
}
@media only screen and (min-width: 768px){
    html{
        font-size: 4.8px;
    }
    .links{
        display: block;
    }
}
@media only screen  and (max-width: 992px){
    .pc{
        display: none;
    }
    #menyu{
        width: 20vw;
        height: 150rem;
    }
    .menu{
        display: block;
    }
    .links{
        display: block;
    }
}
@media only screen  and (min-width: 992px){
    html{
        font-size: 6.2px;
    }
    .pc{
        display: block;
    }
    .menu{
        display: none;
    }
    .links{
        display: none;
    }
    #menyu{
        width: 0vw;
        height: 0rem;
    }
}
@media only screen  and (min-width: 1200px){
    html{
        font-size: 7.5px;
    }
}
@media only screen  and (min-width: 1400px){
    html{
        font-size: 8.75px;
    }
}